.avatar {
  vertical-align: middle;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.avatar-text {
  font-size: 16px;
}
